@import "stylecss/header.css";
@import "stylecss/nav.css";
@import "stylecss/populaire.css";
@import "stylecss/hebergement.css";
@import "stylecss/activité.css";
@import "stylecss/footer.css";

/*test du commit*/

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 21px;
  max-width: 1500px;
  box-sizing: border-box;
  min-width: 470px;
}
