
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 2%  ;
  }
  
  
  .activité{
    height: 1575px;
  }
  .imgcard{
    background-position: center;
    height: 100%;
    width: 100%;
    border-top-left-radius: 15px ;
    border-top-right-radius: 15px;
    background-size: cover;
  
  }
  
  .testrestfinal1{
    background-image: url("images/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
  
  }
  .testrestfinal2{
    background-image: url("images/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
  }
  .testrestfinal3{
    background-image: url("images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
  
  }
  .testrestfinal4{
    background-image: url("images/activites/2_large/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
  
  }
  .testrestfinal5{
    background-image: url("images/activites/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg");
  }
  .testrestfinal6{
    background-image: url("images/activites/2_large/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
  }
  
  
  .restboxpopufinal1{
    background-color: rgb(255, 255, 255);
    margin: 0 15px 15px 15px;
    height: 220px;
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 0px 8px 8px rgba(207, 207, 207, 0.5);
    
  
  }
  .card{
    position: relative;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
  }
  .txtrestfinal1{
    width: 100%;
    background: white;
    height: 60px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .activité h1{
    font-size: 28px;
    font-weight: bold;
  }
  .all{
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1040px){

    .container{
      padding: 0 2%;
      box-sizing: border-box;
    }

  

    .activité{
        display: flex;
        flex-wrap: wrap;
        height: 500px;
        width: 100%;
      }
      .activité h1{
        width: 100%;
        height: 10px;
      }
      .restboxpopufinal1{
       display: flex;
       flex-wrap: wrap;
       background-color: rgb(255, 255, 255);
       margin: 0 15px 15px 15px;
       height: 220px;
       width: 100%;
       border-radius: 15px;
       box-shadow: 0px 8px 8px rgba(207, 207, 207, 0.5);
       max-height: 700px;
       min-height: 160px;
       margin-bottom: 20px;
     }

     .activité{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 800px;
        max-height: 800px;
      }

      .restboxpopu{
        position: relative;
        align-items: center;
        justify-content: center;
        height: 30%;
        min-height: 30%;
        width: 25%;
        min-width: 25%;
        border-radius: 20px;
        display: flex;
        flex-wrap: wrap;
        padding: 4px 6px;
      }
      .restboxpopu p{
        padding-bottom: unset;
        margin-bottom: unset;
      }
      .restbox h2{
        margin-top: unset;
        min-width: 150px;
      }
      .restbox h3{
        position: absolute;
        display: flex;
        margin: unset;
        padding: unset;
        margin-top: 660px;
        margin-left: 20px;
      }
      .cardbox{
        display: flex;
        justify-content: space-between;
        height: 550px;
        width: 100%;
      }
      .cardbox_column{
        display: flex;
        flex-direction: column;
        width: 23%;
        height: 100%;
      }
      .card{
        height: 100%;
        position: relative;
      }
      .txtrestfinal1{
        width: 100%;
        background: white;
        height: 75px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        position: absolute;
        bottom: 0;
        left: 0;
      }
      .imgcard{
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }



}